<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title th:text="Noticias"></title>
</head>
<body>
<div>
    <h2>Listado de noticias</h2>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Link de mas informacion</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <tr th:each="news, info : ${list}"></tr>
                <td th:text="${info.index + 1}"></td>
                <td th:text="${news.title}"></td>
                <td th:text="${news.description}"></td>
                <td th:text="${news.shareURL}"></td>
                <td th:text="${news.feedDate}"></td>
        </tr>

        </tbody>

    </table>
</div>

</body>
</html>